<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- link to media query meta -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- link to google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <!-- link to fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- link to jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    <!-- vue axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <!-- link to vue js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolflix</title>

    <!-- link to main script file -->
    <script src="js/script.js" type="text/javascript"></script>
    <!-- link to css style -->
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <div id="app" class="container">
      <header>
        <h1 id="webName">Boolflix</h1>
        <nav>
          <input v-on:keyup.enter="search()" v-model='ricerca' type="text" name="" value="">
          <button @click='search()' @click="hideWelcomePage()" type="button" name="button">Cerca</button>
        </nav>
      </header>

      <main>

        <div class="row">
          <!--....................... film section ..............................-->
          <div v-for='(film , index) in filmCollection' v-on:mouseleave='whenMouseOut' class='film_card'>
            <div class="layover"></div>
            <ul class="card_content">
              <li class="title">
                {{film.title}}
              </li>
              <li>
                <span>
                  {{compare(film.title, film.original_title)}}'
                </span>
              </li>
              <li>
                Vote:
                <span>{{getVote(film.vote_average)}}</span>
                <i v-for="index in getVote(film.vote_average)" :key="index" class="fas fa-star"></i>
                <i v-for="index in (5 - getVote(film.vote_average))" class="far fa-star"></i>
              </li>
              <li class="lang">
                language:
                <img v-if='flags[film.original_language]' :src="flags[film.original_language]" class='flag' alt="">
                <span v-else ><span>{{film.original_language}}</span></span>
              </li>
              <li>
                Overview:<br>
                {{cutText(film.overview, 60, '...')}}
              </li>

              <div class="cast">
                <button @click="getCastMovie(film)" type="button" name="button" class="actorsButton">Cast Info</button>
                <div v-show="showCast">
                  <span v-if="film.cast" class="actorName" v-for="actor in film.cast">{{actor.name}}-</span><br>
                </div>
                <div v-else class="">
                  No cast info
                </div>
              </div>
            </ul>

            <img v-if="film.poster_path" :src="'https://image.tmdb.org/t/p/' + 'w342/' + film.poster_path" alt="" class="poster">
            <img v-else src="img/boolflix.jpg" class="boolflixImg" alt="">

          </div>

          <!-- .....................................serie section........................................  -->

          <div v-for='(serie, i) in serieCollection' class='serie_card' v-on:mouseleave='whenMouseOut'>
            <div class="layover"></div>
            <ul class="card_content">
              <li>
                {{serie.title}}
              </li>
              <li>
                Original Title:
                <span>{{serie.original_title}}</span>
              </li>
              <li>
                Vote:
                <span>{{getVote(serie.vote_average)}}</span>
                <i v-for="index in getVote(serie.vote_average)" :key="index" class="fas fa-star"></i>
                <i v-for="index in (5 - getVote(serie.vote_average))" class="far fa-star"></i>
              </li>
              <li class="lang">
                Original Lang:
                <img v-if="flags[serie.original_language]" :src="flags[serie.original_language]" class='flag' alt="">
                <span v-else>{{serie.original_language}}</span>
              </li>
              <li>
                Overview:<br>
                {{cutText(serie.overview, 200, '...')}}
              </li>

              <div class="cast">
                <div>
                  <button @click="getCastSerie(serie)" type="button" name="button" class="actorsButton">Cast Info</button>
                  <span   v-if="serie.cast"  v-show="showCast" class="actorName" v-for="actor in serie.cast">{{actor.name}}-</span><br>
                </div>
                <div v-else class="">
                  No cast info
                </div>
              </div>

            </ul>
            <img v-if="serie.poster_path" :src="'https://image.tmdb.org/t/p/' + 'w342/' + serie.poster_path" alt="" class="poster">
            <img  v-else src="img/boolflix.jpg" class="boolflixImg" alt="">
          </div>

        </div>
      </main>
    </div>

  </body>
</html>
